[submodule "specs/3rdparty/imgui"]
	path = specs/3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "specs/3rdparty/minhook"]
	path = specs/3rdparty/minhook
	url = https://github.com/TsudaKageyu/minhook.git
