[submodule "specs/3rdparty/toml11"]
	path = specs/3rdparty/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "specs/3rdparty/HDDLL"]
	path = specs/3rdparty/HDDLL
	url = https://github.com/spelunky-fyi/HDDLL.git
